<html>
    <head>
        <title>Jess's blog</title>
    </head>

    <body>
        <div>
            <h1>I am totally a heading!!</h1>
            <h2>If you're a heading, I am a slightly smaller heading</h2>
            <p>Hi there!</p>
            <p>It <em>works!</em></p>
            <p>That's what <strong>she said</strong>! So...<br />very....<br />incredible....</p>
        </div>

        <div>
           <h2>About Django Girls</h2>
           <p><a href="https:/djangogirls.org">Django Girls</a> rawks!<br />
           Let me count the ways:<ul><li>They're incredibly smart</li><li>They're super helpful</li><li>They're just all-around special people that you want to know!</li></p>
        </div>
    </body>
</html>
